<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--QA-->
    <add key="LoginPage" value="https://my.xero.com/!xkcD/Dashboard" />
    <add key="Driver" value="chrome" />
    <add key="EmailAddress" value="18timygarcia@gmail.com" />
    <add key="Password" value="XeroTest2021" />
    <add key="DreamJob" value="Nothing" />
    <add key="Car" value="Toyota" />
    <add key="Pet" value="Baxter" />
    <add key="AccountName" value="ANZ Savings Account" />
    <add key="AccountNumber" value="01-0676-0217453-00" />
  </appSettings>
</configuration>